.title_list {
    text-align: center;
    font-weight: 500;
    
    color: grey;
}
.title_table {
    width: 99%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    /* justify-content: space-between; */
}
.title_table > p {
    color: #ACACAC;
    flex :1;
    text-align: center;
    
}
